/CRM.Service/bin/Debug/CRM.Service.dll
/CRM.Service/bin/Debug/CRM.Service.pdb
/CRM.Service/obj/Debug/CRM.Service.dll
/CRM.Service/obj/Debug/CRM.Service.pdb
/CRM.WebApi/bin/CRM.Service.dll
/CRM.WebApi/bin/CRM.Service.pdb
/CRM.WebApi/bin/CRM.WebApi.dll
/CRM.WebApi/bin/CRM.WebApi.pdb
/CRM.WebApi/obj/Debug/CRM.WebApi.csprojResolveAssemblyReference.cache
/CRM.WebApi/obj/Debug/CRM.WebApi.dll
/CRM.WebApi/obj/Debug/CRM.WebApi.pdb
